/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

a{
  color: inherit;
  text-decoration: none;
}
@keyframes fade-in-from-top {
 0% {
    opacity: 0; /* opacity from begin of animation is 0 */
    transform: translateY(-70px);/* descending from 50px */
 }

100%{
    opacity: 1; /*opacity at end of animation is 1*/
    transform: translateY(0px); /*no movement*/
}
}

/*BASE STYLE*/
.page{
  font-family: 'Cinzel', serif;
  transition: all 0.2s;
  
}

img{
  width: 100%;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6{
  font-family:'Mulish', sans-serif;
}

.flex1 {
  -webkit-flex: 1;
  flex: 1;
}

/******************************************
/* Header
/*******************************************/


.header{
  display:flex;
  justify-content: center;
}
.logo {
  display:block;
  max-width:76px;
  max-height:50px;
  width:auto;
  height:auto;
  margin-left: 0px;
  padding-left:0px ;
  margin-right: 20px;
  animation: fade-in-from-top 0.5s;
}


.nav {
  display: inline-block;
  margin: .1em .1em;
}

.nav__list{
  list-style: none;
  display:flex;  
}
.nav__item{
  animation: fade-in-from-top 0.5s;
}

.nav__link{
padding: 0 20px; /*top bottom=0 left&right=20px spc between*/
  transition: all 0.2s; /*state change on mouse over*/
  /*height: 65px;*/
  display: inline-block; 
}
.nav__link:hover,
.nav__link:focus {
  color: #aaaaaa;
}

nav li:last-child{
  float: right;
}

@media (max-width: 481px) { 
  nav{
    display: none;
    float: none;
  }

}


/******************************************
/* Buttons
/*******************************************/
.btn-read,
.btn-white,
.btn-services,
.btn{
  border: 1px solid black;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1em 1em;
  transition: 0.2s;
}

  
.btn-read:hover,
.btn:hover{
  background-color:#929292
}
.btn-services:hover,
.btn-services:focus{
  background-color: #ed719e;
  
}

.btn-white{
  color: black;
  background-color: white;
  transition: 0.2s;
}


.btn-center:hover,
.btn-white:hover,
.btn-white:focus{
  background-color: #ed719e;
  transition:0.3s;
}

/******************************************
/* Main
/*******************************************/
main{
  height: 700px;
  background-image: url("https://i.imgur.com/IPb4xXz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position:relative; 
}

.visit{
  background-color: white;
  color: black;
  border: solid 1px black;
  width: 350px;
  height: 200px;
  margin: 1em 10%;
  padding: 0.5em;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  letter-spacing: 3px;

}

.visit h4{ /*Your First Visit*/
  font-size: 2em;
  margin-bottom: 25px;
  margin-top: 25px;
  letter-spacing: 3px;
  font-weight: 200px;

}

main.clear section{
  margin: 0 10%;
  
}

main.clear section h1 {/*Your Natural Hair Destination*/
font-size: 4em;
width: 40%;
font-weight: 300;
letter-spacing: 8px;
line-height: 1.2em;
padding-top: 45px;
margin-bottom: 0.25em;

}

main.clear p{
  margin-top: 0em;
  padding-bottom: 1.5em;
}


main.clear a.btn-white{
  padding-top: 10px;

}


@media (max-width: 480px) { 
  main{
    margin: 0px;
    position: static;
  }

  main.clear section,
  main.clear section *,
  section.clear.stylists.flex-grid,
  section.lookbook{
    margin-left: 0px;
    padding-left: 0px;

  }

  main.clear section h1{
    font-size: 2em;
  }

  .page{
    margin: 0px;
    padding: 0px;
  }
  /*Services Icons*/

  #services{
    
  }
  .expert{
    align-self
  
}

  .quality{
    
  }

  .beauty{
    
  }

  
  .col1-3,
  .stylists.flex-grid{
    display: block ; 
    width: 100% ;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  main section.visit{
    margin: 0px;
    padding: 0px;
    width: 100%;
  }


}
/******************************************
/* Flexbox
/*******************************************/
.flex-grid {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.col {
  flex: 1;
}

.col1-3{
  max-width: 29%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  /*margin: 2rem 2%;
  float: left;*/
}

.col1-2{
  max-width: 49%;
  flex: 1;

}

.col1-3 img{
  width: 50%;
}

.center{
  justify-content: flex-end;
}

/******************************************
/* Highlights Section
/*******************************************/
.stylists,
.highlights{
  margin: 3rem 15%;
  text-align: center;
}


.highlights img{
  height: 153px;
}

@media (max-width: 480px) { 


  .highlights img{
    display: none;
  }

  .highlights{
    padding-top: 50px;
  }

  .highlights p{
    font-size: 0.75em;
  }

  section.highlights.flex-grid{
    margin-left: 0px;
    margin-right: 0px;
  }


}



/******************************************
/* Momentum Section
/*******************************************/
.mom{
  margin: 10rem 15%;
  font-size: 1.3em;
  text-align: left;
  

}

.mom section,
.mom img{
  display: inline-block;

}
.mom section{
  width: 50%;

}

.mom p{
  padding-bottom: 45px;
}
.mom img{
  width: 50%;
}

.mom h2{
  font-size: 2.2em;
  padding-top: 35px;
}

@media (min-width: 481px) and (max-width: 850px) { 

section.clear.flex-grid.col1-2,
section.mom.flex-grid{
  display: block;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

section.mom.flex-grid img{
  width: 100%;
  height: auto;
  padding-top: 3em;
}
}

@media (max-width: 480px){
  section.mom.flex-grid{
    display: none;
  }

  section.visit a.btn-white{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }


} 

/******************************************
/* Stylists
/*******************************************/
.stylists > section >section{
  border: solid 1px black;
  background-color: black;
  color: white;
  width: 75%;
  margin-top: -22px;
}

.stylists img{
  width: 100%;
  height: 415px;
}

@media (max-width: 480px){

  .stylists section.col1-3{
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    width: 100%;
  }

  .stylists section.col1-3 img{
    height: 170px;
  }

  section.clear.stylists.flex-grid{
    display: flex;
    flex:1;  
  }

  .stylists section.col1-3 section{
    width: 99.5%;
  }

} 

/******************************************
/* Offer
/*******************************************/
.offer{
  margin: 3rem 15%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  
}

.offer .btn{
  width: 25%;
}

.offer h4{
  margin-bottom: 0px;
}

@media (max-width: 480px){
  .offer .btn{
    width: 100%;
  }
}
/******************************************
/* Lookbook
/*******************************************/

img.lb-long{
  height: 60%;
  width: 100%;
  margin: 1em;
  /*transition: all 0.2s;
  animation: fade-in 1s;*/
}

img.lb-short{
  height: 30%;
  width: 100%;
  margin: 1em;
 /* transition: all 0.2s;
  animation: fade-in 1s;*/
}

.lookbook{
  margin: 3rem 15%;
  flex:1;
}

.lookbook h2{
  display: block;
}

@media (max-width: 480px){
  .lookbook{
    margin-left: auto;
    margin-right: auto;
  }
}
/******************************************
/* Responsiveness
/*******************************************/